.profile-password-section {
    display: flex;

}

/* LEFT */
.profile-password-section .settings-section-header {
    flex: 1;
}

/* RIGHT */
.profile-password-section .settings-section-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 1px solid aliceblue;
    padding-left: 5px;
}

.profile-password-section .settings-row {
    display: grid;
    grid-template-columns: 95px 1fr;
    gap: 12px;
    align-items: center;
    padding: 11px 0;
    text-align: left;
}

.profile-password-section .settings-row span {
    color: #526d82;
    font-size: 0.78rem;
    font-weight: 700;
}

/* input */
.profile-password-section .settings-row input {
    width: 100%;
    height: 38px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    padding: 0 12px;
    background: white;
    color: gray;
    font-size: 0.82rem;
    font-weight: 600;
    outline: none;
}

.profile-password-section .settings-row input:focus {
    border-color: #2563eb;
}

.profile-password-section .settings-save-button {
    width: 50%;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .profile-password-section {}


}