/* Αν το Card component έχει cards μέσα */
.card-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.card-link {
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.card-container .card {
    min-height: 110px;
    background: #fff;
    padding: 18px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease-in-out;
    height: 100%;
}

.card-container .card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.card-cover {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 16px;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: left;
}

.card-title h2 {
    font-size: 15px;
    margin: 0 0 8px;
    color: #526d82;
}

.card-title p {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    color: #27374d;
}

/* Clickable? */

.card-link.not-clickable {
    cursor: default !important;
}

/* Tablets */
@media (max-width: 1200px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;

    }

}

/* Mobiles */
@media (max-width: 576px) {
    .card-container {
        flex-direction: column;
        gap: 10px;
    }

    .card-container .card {
        flex: none;
        gap: 12px;
        padding: 8px;
    }

    .card-container .card .card-cover {
        font-size: 2rem;
        border-radius: 14px;
    }

    .card-container .card .card-title {
        font-size: 13px;
    }

    .card-container .card .card-title h2 {
        font-size: 15px;
    }

    .card-container .card .card-title p {
        font-size: 20px;
    }
}